{{ define "substyle" }}
.module-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

.module-title-delete-container {
	display: flex;
	justify-content: space-between;
}

.module-title {
	font-size: 1.2rem;
	font-weight: bold;
	width: 100%;
}

.cancel {
	width: 35px;
	height: 35px;
}

.delete-module {
	font-size: 1rem;
	width: 150px;
	width: fit-content;
	height: fit-content;
	padding: 5px;
	background-color: transparent;
	border: none;
	border-radius: 999px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.delete-module:hover {
	cursor: pointer;
	background-color: #f0f0f0;
}

.module-description {
	font-size: 1rem;
	resize: none;
}
{{ end }}
<div class="module-container">
	<div class="module-title-delete-container">
		<input type="text" class="module-title" name="module-title[]" placeholder="Module name" required>
		<button type="button" 
			class="delete-module" 
			hx-delete="/course/create/module"
			hx-target=".module-container"
			hx-swap="outerHTML"
			><img src="/static/cancel.png" alt="Delete" class="cancel"></button>
	</div>

	<textarea class="module-description" name="module-description[]" placeholder="Module description" required></textarea>
</div>
