{{ define "title" }}Courses{{ end }}
{{ define "style" }}
html {
	scroll-behavior: smooth;
}

.courses {
	display: flex;
	flex-direction: column;
}

.course {
	margin-bottom: 1rem;
}

.course-title {
	margin-bottom: 0.5rem;
}

.course-title-edit-container {
	display: flex;
	justify-content: space-between;
}

.edit-course-link {
	display: flex;
	align-items: center;
}

.module-toggle {
	display: none;
}

.edit-module {
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.module-title {
	margin: 0;
}

.edit-module-link {
	display: flex;
	align-items: center;
}

/* Toggle */

.module-toggle-input {
	display: none;
}

.module-toggle-style {
	padding: 1.2rem;
	background-color: #f8f9fa;
	margin: 0;
	cursor: pointer;
}

.module-toggle-style:hover {
	background-color: #e9ecef;
}

.module-toggle-input:checked + .module-toggle-label {
	background-color: #0056b3;
}

.toggle-content {
	max-height: 0;
	overflow: hidden;
	background-color: #f8f9fa;
	margin-bottom: 10px;
}

.module-toggle-input:checked ~ .toggle-content {
	max-height: 500px;
	padding: 0 1.2rem 0 1.2rem;

}
{{ end }}
{{ define "content" }}
<h1>My Courses</h1>
<div class="courses">
	{{range $course := .Courses }}
	{{ if eq $course.Id $.NewCourseId }}
	<p>Course created! 🎊</p>
	{{ end }}
	<div id="course-{{$course.Id}}" class="course">
		<div class="course-title-edit-container">
			<h2 class="course-title">{{.Title}}</h2>
			{{ if $.Editor }}
			<a class="edit-course-link" href="/course/{{$course.Id}}/edit">Edit</a>
			{{ end }}
		</div>
		<p>{{.Description}}</p>
		<input type="checkbox"
		       id="module-toggle-{{$course.Id}}"
		       class="module-toggle-input">
		<label for="module-toggle-{{$course.Id}}"
		       class="module-toggle-label">
			<h3 class="module-toggle-style">Modules</h3>
		</label>
		<div class="modules toggle-content">
			{{range .Modules}}
			<div id="{{$course.Id}}-module-{{.Id}}" class="module">
				<div class="edit-module">
					<h3 class="module-title">{{.Title}}</h3>
					{{ if $.Editor }}
					<a class="edit-module-link" href="/course/{{$course.Id}}/module/{{.Id}}/edit">Edit</a>
					{{ else }}
					{{ if eq .NextUnansweredQuestionIdx 0 }}
					<a class="edit-module-link" href="/student/course/{{$course.Id}}/module/{{.Id}}/question/0">Start</a>
					{{ else }}{{ if lt .NextUnansweredQuestionIdx .QuestionCount }}
					<a class="edit-module-link" href="/student/course/{{$course.Id}}/module/{{.Id}}/question/{{ .NextUnansweredQuestionIdx }}">Continue</a>
					{{ else }}{{ if eq .NextUnansweredQuestionIdx .QuestionCount }}
					<a class="edit-module-link" href="/student/course/{{$course.Id}}/module/{{.Id}}/question/0">Review</a>
					{{ end }}{{ end }}{{ end }}
					{{ end }}
				</div>
				<p>{{.Description}}</p>
			</div>
			{{end}}
		</div>
	</div>
	{{end}}
</div>
{{ end }}
