{{ define "title" }}Create Course{{ end }}
{{ define "style" }}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#course-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#course-description {
    font-size: 1.2rem;
    resize: none;
}

#modules {
    display: flex;
    flex-direction: column;
}

#add-module-button {
    height: 50px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
}

button {
    font-size: 1.2rem;
}

#add-module-button:hover {
    background-color: #e0e0e0;
}

#submit-button {
    margin-top: 1rem;
    height: 50px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 10px;
}

#submit-button:hover {
    background-color: #0055aa;
}

{{ template "substyle"}}
{{ end }}
{{ define "content" }}
<h1>New Course</h1>
<form
    hx-post="/course/create"
    hx-target="#response-message"
    hx-swap="outerHTML"
>
    <input type="text" id="course-title" name="title" placeholder="Course name" autofocus required>

    <textarea id="course-description" name="description" placeholder="Course description" required></textarea>

    <h2>Modules</h2>

    <div id="modules">
        {{ template "add_module.html" }}
    </div>
    <button id="add-module-button" type="button" hx-get="/course/create/module" hx-target="#modules" hx-swap="beforeend">Add Module</button>

    <button id="submit-button" type="submit">Submit</button>
</form>

<!-- Placeholder for response message -->
<div id="response-message"></div>
{{ end }}
