{{ define "title" }}Create Course{{ end }}
{{ define "style" }}
.path {
	margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#course-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#course-description {
    font-size: 1rem;
    resize: none;
    height: 8rem;
}

.public-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#course-public:disabled ~ .public-label {
    color: #808080;
}

#modules {
    display: flex;
    flex-direction: column;
}

#add-module-button {
    height: 50px;
    background-color: #f0f0f0;
    color: black;
    border: none;
    border-radius: 10px;
}

#add-module-button:hover {
    background-color: #e0e0e0;
}

#submit-button {
    margin-top: 1rem;
    height: 50px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 10px;
}

#submit-button:hover {
    background-color: #0055aa;
}

{{ template "substyle"}}
{{ end }}
{{ define "content" }}

{{ $edit := not (eq "" .Title) }}

{{ if $edit }}
<div class="path">
	<a href="/teacher">Courses</a> &gt; <a href="/teacher/course/{{ .Id }}">{{ .Title }}</a>
</div>
<h1>Edit Course</h1>
{{ else }}
<h1>New Course</h1>
{{ end }}
<form
    {{ if $edit }}
    hx-put="/teacher/course/{{ .Id }}"
    hx-target="#response-message"
    hx-swap="outerHTML"
    {{ else }}
    hx-post="/teacher/course/create"
    {{ end }}
>
    <input type="text" id="course-title" name="title" placeholder="Course name" value="{{ .Title }}" autofocus required>

    <textarea id="course-description" name="description" placeholder="Course description" required>{{ .Description }}</textarea>

    <div class="public-checkbox">
        <input
            type="checkbox"
            id="course-public"
            name="public"
            {{ if .Public }}
            checked
            {{ end }}
            {{ if .HasStudent }}
            disabled
            title="Cannot take a course private with at least one student enrolled."
            {{ end }}
        >
        <label class="public-label" for="course-public"
            {{ if .HasStudent }}
            title="Cannot take a course private with at least one student enrolled."
            {{ end }}
        >Public</label>
    </div>

    <h2>Modules</h2>

    <div id="modules">
        {{ range $module := .Modules }}
            {{ template "add_element.html" $module }}
        {{ end }}

        {{ if eq 0 (len .Modules) }}
            {{ template "add_element.html" EmptyModule }}
        {{ end }}
    </div>
    <button id="add-module-button" type="button" hx-get="/ui/module" hx-target="previous" hx-swap="beforeend">Add Module</button>

    <button id="submit-button" type="submit">Submit</button>
</form>

<!-- Placeholder for response message -->
<div id="response-message"></div>
{{ end }}
