{{ define "title" }}Edit Module{{ end }}
{{ define "extra_head" }}{{ end }}
{{ define "style" }}
.path {
	margin-top: 1rem;
}

/* TODO: many of these are shared with create_course.html */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#module-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#module-description {
    font-size: 1.2rem;
    resize: none;
}

#submodules {
    display: flex;
    flex-direction: column;
}

#add-element-button {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    color: black;
    border: none;
    border-radius: 10px;
}

#add-submodule-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

button {
    font-size: 1.2rem;
}

#add-element-button:hover {
    background-color: #e0e0e0;
}

#submit-button {
    margin-top: 1rem;
    height: 50px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 10px;
}

#submit-button:hover {
    background-color: #0055aa;
}

{{ template "substyle"}}
{{ end }}
{{ define "content" }}
<div class="path">
	<a href="/teacher">Courses</a> &gt; <a href="/teacher/course/{{ .CourseId }}">{{ .CourseTitle }}</a> &gt; {{ .ModuleTitle }}
</div>
<h1>Edit Module</h1>
<p>Note: Content blocks and question explanations expect <a target="_blank" href="https://commonmark.org/help/">markdown</a>.</p>
<p>Note: You may write mathematical expressions (<a target="_blank" href="https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/writing-mathematical-expressions#writing-inline-expressions">within single $'s for inline expressions, double $$'s for block expressions</a>), however as <a target="_blank" href="https://docs.mathjax.org/en/latest/output/linebreaks.html">automatic linebreaks are not supported in MathJax3</a>, if you want to break lines you must <a target="_blank" href="https://github.com/mathjax/MathJax/issues/2312#issuecomment-538185951">wrap your expression in \displaylines{}</a>.</p>
<form
    hx-put="/teacher/course/{{ .CourseId }}/module/{{ .ModuleId }}"
    hx-target="#response-message"
    hx-swap="outerHTML"
>
<input type="text" id="module-title" name="title" placeholder="Module name" value="{{ .ModuleTitle }}" autofocus required/>

<textarea id="module-description" name="description" placeholder="Module description" required>{{ .ModuleDesc }}</textarea>

    <div id="submodules">
	    {{ range $block := .Blocks }}
		{{ if eq $block.BlockType "content" }}
		    {{ template "add_element.html" $block.Content }}
		{{ else }}{{ if eq $block.BlockType "question" }}
		    {{ template "add_element.html" $block.Question }}
		{{ end }}{{ end }}
	    {{ end }}
    </div>
    <div id="add-submodule-buttons">
	<button id="add-element-button" type="button" hx-get="/ui/question" hx-target="#submodules" hx-swap="beforeend">Add Question</button>
	<button id="add-element-button" type="button" hx-get="/ui/content" hx-target="#submodules" hx-swap="beforeend">Add Content</button>
    </div>

    <button id="submit-button" type="submit">Submit</button>
</form>

<!-- Placeholder for response message -->
<div id="response-message"></div>
{{ end }}
