<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ template "title" }}</title>
	<script src="/static/htmx.min.js"></script>
	<script src="/static/json-enc.js"></script>
	<link rel="stylesheet" type="text/css" href="/style/global.css">
	<style>{{ template "style" }}</style>
</head>
<body>
	<br/>
	<a href="/">Home</a>
	<a href="/course">Courses</a>
	<a href="/course/create">Create</a>
	<a href="/student/course">Student</a>
	<a href="/signup">Signup</a>
	<a href="/signin">Signin</a>
	{{ template "content" . }}
</body>
