{{ define "title" }}Edit Prerequisites{{ end }}
{{ define "style" }}

.form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.modules {
	border: 1px solid #e0e0e0;
}

.prereq-container {
}

.modules, .prereq-container {
	width: 49%;
	overflow-y: auto;
	height: 50vh;

	display: flex;
	flex-direction: column;
}

.prereqs {
	/* .prereq-container - button */
	height: calc(50vh - 1rem - 50px);
	overflow-y: auto;
	border: 1px solid #e0e0e0;
}

.module-button {
	display: none;
}

.module-button:checked + label {
	background-color: #e0e0e0;
}

.module-label {
	width: 100%;
}

.prereq-label {
	width: 100%;
}

.module-label, .prereq-label {
	border: 1px solid #e0e0e0;
	border-collapse: collapse;

	padding: 0.5rem;
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.module-label:hover, .prereq-label:hover {
	background-color: #f8f9fa;
}

#submit-button {
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    height: 50px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 10px;
}

#submit-button:hover {
    background-color: #0055aa;
}

@media (max-width: 700px) {
	.form {
		flex-direction: column;
	}

	.modules, .prereq-container {
		width: 100%;
	}

	.module-label {
		width: 100%;
	}

	#submit-button {
		width: 100%;
	}
}

{{ end }}

{{ define "content" }}
<h1>Edit Prerequisites</h1>
<!-- TODO: path? Courses > Course > Prereqs -->
<p>Note: you must save changes for each course. Switching between modules will discard unsaved changes.</p>
<div class="form">
	<div class="modules">
		{{ range $i := NumRange (len .Course.Modules) }}
		{{ $module := index $.Course.Modules $i }}
		<input type="radio" id="mod-{{ $module.Id }}" class="module-button" name="modules" {{ if eq $i 0 }}checked="checked"{{ end }}>
		<label
			for="mod-{{ $module.Id }}"
			class="module-label"
			hx-get="/teacher/course/{{ $.Course.Id }}/module/{{ $module.Id }}/prereq"
			hx-target="#prereqs"
			hx-swap="outerHTML"
		>
			{{ $module.Title }}
		</label>
		{{ end }}
	</div>
	{{ template "prereq_form" .PrereqForm }}
</div>
{{ end }}

{{ define "prereq_form" }}
<form
	id="prereqs"
	class="prereq-container"
	hx-put="/teacher/course/{{ .Module.CourseId }}/module/{{ .Module.Id }}/prereq"
	hx-target="#prereqs"
	hx-swap="outerHTML"
>
	<div class="prereqs">
		{{ range $prereq := .Prereqs }}
		{{ if not (eq $prereq.Module.Id $.Module.Id) }}
		<label for="mod-{{ .Module.Id }}-{{ $prereq.Module.Id }}" class="prereq-label">
			<input type="checkbox" id="mod-{{ .Module.Id }}-{{ $prereq.Module.Id }}" name="prereqs" {{ if $prereq.Prereq }}checked="checked"{{ end }}>
			{{ $prereq.Module.Title }}
		</label>
		{{ end }}
		{{ end }}
	</div>
	<button id="submit-button">Save</button>
</form>
{{ end }}
