{{ define "title" }}Student | {{ .Username }}{{ end }}
{{ define "extra_head" }}{{ end }}
{{ define "style" }}

:root {
	--gray: #808080;
}

.course-links {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.enrolled-courses-header {
	margin-top: 2rem;
	font-weight: normal;
}

.student-course-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.border {
	border: 1px solid #e0e0e0;
	padding: 1.5rem;
}

.student-course-left, .student-course-right {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	margin: 0;
	padding: 0;
}

.student-course-left {
	width: 34%;
}

.student-course-right {
	width: 63%;
}

@media (max-width: 700px) {
	.student-course-container {
		flex-direction: column;
		gap: 1rem;
	}

	.student-course-left {
		width: 100%;
	}

	.student-course-right {
		width: 100%;
	}
}

.course {
}

.course-title {
	margin: 0;
	font-weight: normal;
}

.estimated-completion {
	border-top: none;
}

.estimated-completion p {
	margin: 0;
}

.point-total {
	border-top: none;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.point-total p {
	margin: 0;
	text-align: center;
}

.total-earned {
	font-weight: normal;
}

.total-points {
	font-size: 1.5rem;
}

.bold {
	font-weight: bold;
}

.green {
	/* dark green */
	color: #1e854c;
}

.completed-modules-label {
	font-weight: normal;
	text-align: center;
	margin-top: 0;
}

.next-modules, .completed-modules {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0;
}

.module {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 1.5rem;
}

.module:hover {
	background-color: #f8f9fa;
}

.module-link {
	text-decoration: none;
	color: inherit;
}

.module-link:hover {
	cursor: pointer;
}

.module-title {
	margin: 0;
	font-weight: normal;
}

.module-xp {
	margin: 0;
	color: var(--gray);
}

.module-title-points {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.completed-at {
	margin: 0;
	font-size: 0.8rem;
	color: var(--gray);
}

{{ end }}
{{ define "content" }}

<div>
	<h1>👋 Hey, {{ .Username }}!</h1>
	{{ if not .HasCourse }}
	<a href="/browse">Check out some courses here!</a>
		{{ if gt (len .Courses) 0 }}
		<h3 class="enrolled-courses-header">Enrolled courses:</h3>
		<div class="course-links">
			{{ range $course := .Courses }}
				<a class="course-link" href="/student/course/{{$course.Id}}">
					{{$course.Title}}
				</a>
			{{ end }}
		</div>
		{{ end }}
	{{ else }}
	<div class="student-course-container">
		<div class="student-course-left">
			<div class="course-estimated-completion">
				<div class="course border">
					<h2 class="course-title">{{ .Course.Title }}</h2>
				</div>
				<div class="estimated-completion border">
					<p>Estimated completion is <span class="bold">...TBD...</span></p>
				</div>
				<div class="point-total border">
					<p class="total-earned">Total earned:</p>
					<p class="total-points bold">{{ .TotalPoints }} XP</p>
				</div>
			</div>
		</div>
		<div class="student-course-right">
			{{ if .HasNextModules }}
			<div class="next-modules">
			{{ range $module := .Course.Modules }}
				{{ if not $module.Completed }}
				<a class="module-link" href="/student/course/{{$.Course.Id}}/module/{{$module.Id}}">
				<div class="module border">
					<div class="module-title-points">
						<h3 class="module-title">{{ $module.Title }}</h3>
						<p class="module-xp">{{ $module.BlockCount }} XP</p>
					</div>
				</div>
				</a>
				{{ end }}
			{{ end }}
			</div>
			{{ end }}

			{{ if .HasCompletedModules }}
			<div class="completed-modules">
			<p class="completed-modules-label">Completed</p>
			{{ range $module := .Course.Modules }}
				{{ if $module.Completed }}
				<a class="module-link" href="/student/course/{{$.Course.Id}}/module/{{$module.Id}}">
				<div class="module border">
					<div class="module-title-points">
						<h3 class="module-title">{{ $module.Title }}</h3>
						<p class="module-xp"><span class="green bold">{{ $module.Points}}</span>/{{ $module.BlockCount }} XP</p>
					</div>
					<p class="completed-at">Completed @ {{ $module.CompletedAt.Format "Mon January 2 2006 3:04pm UTC" }}</p>
				</div>
				</a>
				{{ end }}
			{{ end }}
			</div>
			{{ end }}
		</div>
	</div>
	<!-- TODO: somewhere here we should allow unenrolling -->
	{{ end }}
</div>

{{ end }}
