{{ define "title" }}Student | {{ .Username }}{{ end }}
{{ define "style" }}

.course-links {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.enrolled-courses-header {
	margin-top: 2rem;
	font-weight: normal;
}

.student-course-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.border {
	border: 1px solid #e0e0e0;
	padding: 1.5rem;
}

.student-course-left, .student-course-right {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0;
	padding: 0;
}

.student-course-left {
	width: 34%;
}

.student-course-right {
	width: 63%;
}

@media (max-width: 700px) {
	.student-course-container {
		flex-direction: column;
		gap: 1rem;
	}

	.student-course-left {
		width: 100%;
	}

	.student-course-right {
		width: 100%;
	}
}

.course-estimated-completion * {
	border-collapse: collapse;
}

.course {
}

.course-title {
	margin: 0;
	font-weight: normal;
}

.estimated-completion {
	border-top: none;
}

.estimated-completion p {
	margin: 0;
}

.bold {
	font-weight: bold;
}

.module {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.module-link {
	text-decoration: none;
	color: inherit;
}

.module-link:hover {
	cursor: pointer;
}

.module-title {
	margin: 0;
	font-weight: normal;
}

.module-xp {
	margin: 0;
	color: #808080;
}

{{ end }}
{{ define "content" }}

<div>
	<h1>👋 Hey, {{ .Username }}!</h1>
	{{ if not .HasCourse }}
	<a href="/student/course">Check out some courses here!</a>
	{{ if gt (len .Courses) 0 }}
	<h3 class="enrolled-courses-header">Enrolled courses:</h3>
	<div class="course-links">
	{{ range $course := .Courses }}
		<a class="course-link" href="/student/course/{{$course.Id}}">
			{{$course.Title}}
		</a>
	{{ end }}
	</div>
	{{ end }}
	{{ else }}
	<div class="student-course-container">
		<div class="student-course-left">
			<div class="course-estimated-completion">
				<div class="course border">
					<h2 class="course-title">{{ .Course.Title }}</h2>
				</div>
				<div class="estimated-completion border">
					<p>Estimated completion is <span class="bold">early January</span></p>
				</div>
			</div>
		</div>
		<div class="student-course-right">
			{{ range $module := .Course.Modules }}
			<a class="module-link" href="/student/course/{{$.Course.Id}}/module/{{$module.Id}}">
			<div class="module border">
				<h3 class="module-title">{{ $module.Title }}</h3>
				<p class="module-xp">12 XP</p>
			</div>
			</a>
			{{ end }}
		</div>
	</div>
	<!-- TODO: somewhere here we should allow unenrolling -->
	{{ end }}
</div>

{{ end }}
