{{ define "title" }}Module: {{ .Module.Title }}{{ end }}
{{ define "style" }}

:root {
	--blue: #0077cc;
	--dark-blue: #0055aa;
	--green: #34d058;
	--red: #ff4d4f;
	--gray: #e0e0e0;
}

.take-module-body {
	max-width: 800px;
	padding-bottom: 200px;
}

#header {
	position: sticky;
	top: 0;
	background-color: #fff;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 80px;
	border-bottom: 1px solid #e0e0e0;
	overflow-x: auto;

	z-index: 1;
}

.progress-bar {
	width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-gap: 10px;
}

.progress-bar-button-span {
	margin: 0 5px;
	width: 50px;
	height: 5px;
	border-radius: 5px;
	border: none;
}

.green-bg {
	background-color: var(--green);
}

.blue-bg {
	background-color: var(--blue);
}

.gray-bg {
	background-color: var(--gray);
}

.progress-bar-button {
	width: fit-content;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.progress-bar-button:hover {
	/* TODO: reenable */
	cursor: default;
}

.block {
	margin-top: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	padding: 25px 40px;
}

.block > * {
	overflow-x: auto;
	overflow-y: hidden;
}

.choices {
}

.choice {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 0.5rem;
	align-items: center;
}

.choice:hover, .choice *:hover {
	cursor: pointer;
}

.choice label {
	width: 100%;
}

.choice-result {
	margin: 0;
}

pre {
	background-color: #f5f6f7;
	border-radius: 10px;
	padding: 1rem;
	font-size: 1rem;
}

img {
	width: 100%;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 2px 10px;
	font-weight: normal;
}

#submit-button {
    margin-top: 1rem;
    width: 150px;
    height: 50px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 10px;
}

#submit-button:hover {
    background-color: var(--dark-blue);
}

.red {
	color: var(--red);
}

.green {
	color: var(--green);
}
{{ end }}
{{ define "content" }}
<link rel="stylesheet" type="text/css" href="/style/katex.min.css">
<div class="take-module-body">
{{ template "content_inner" . }}
</div>
{{ end }}

{{ define "content_inner" }}
<div id="header">
	<div class="progress-bar">
		{{ range $i := NumRange .Module.BlockCount }}
			<!-- TODO: make this traverse module -->
			<button 
				class="progress-bar-button"
			>
			<div
				{{ if lt $i $.VisitIndex }}
				class="progress-bar-button-span green-bg"
				{{ else if eq $i $.VisitIndex }}
				class="progress-bar-button-span blue-bg"
				{{ else }}
				class="progress-bar-button-span gray-bg"
				{{ end }}
			>
			</div>
			</button>
		{{ end }}
	</div>
</div>

{{ if .IsPage }}
	{{ range $i := NumRange (len .Blocks) }}
		{{ template "block" ($.ModuleBlock $i) }}
	{{ end }}
{{ else }}
	{{ template "block" . }}
{{ end }}
{{ end }}

{{ define "content_block" }}
<div id="block-{{ .Block.BlockIndex }}" class="block">
	{{ if not (eq .Block.Content.ContentTmpl "") }}
		{{ .Block.Content.ContentTmpl }}
	{{ end }}
</div>
{{ if .ShowNextButton }}
{{ template "next_button" . }}
{{ end }}
{{ end }}

{{ define "block" }}
{{ if eq .Block.BlockType "content" }}
	{{ template "content_block" . }}
{{ else if eq .Block.BlockType "question" }}
	{{ if .Preview }}
		{{ template "question_submitted" . }}
	{{ else if not .Block.Question.Answered }}
		{{ template "question_form" . }}
	{{ else }}
		{{ template "question_submitted" . }}
	{{ end }}
{{ end }}
{{ end }}

{{ define "question_form" }}
<form
		id="question-form-{{ .Block.BlockIndex }}"
	hx-post="/student/course/{{ $.Module.CourseId }}/module/{{ $.Module.Id }}/block/{{ .Block.BlockIndex }}/answer"
	hx-target="#question-form-{{ .Block.BlockIndex }}"
	hx-swap="outerHTML"
>
	<div id="block-{{ .Block.BlockIndex }}" class="block">
		{{ .Block.Question.Content.ContentTmpl }}
		<div class="choices">
		{{ range $choice := .Block.Question.Choices }}
			<div class="choice">
				<input type="radio" id="{{ $choice.Id }}" name="choice" value="{{ $choice.Id }}" required>
				<label for="{{ $choice.Id }}">{{ $choice.Content.ContentTmpl }}</label>
			</div>
		{{ end }}
		</div>
		<button id="submit-button" type="submit">Submit</button>
	</div>
</form>
{{ end }}

{{ define "question_submitted" }}
<div id="block-{{ .Block.BlockIndex }}" class="block">
	{{ .Block.Question.Content.ContentTmpl }}
	<div class="choices">
	{{ range $choice := .Block.Question.Choices }}
		<div class="choice">
			<input type="radio" id="{{ $choice.Id }}" name="choice" value="{{ $choice.Id }}" disabled>
			<label for="{{ $choice.Id }}">
				{{ $choice.Content.ContentTmpl }}
			</label>
		</div>
		{{ if (or $choice.Chosen $choice.IsCorrect) }}
		<p class="choice-result">
			{{ if $choice.Chosen }} (Chosen){{ end }}
			{{ if $choice.IsCorrect }} (Correct){{ end }}
		</p>
		{{ end }}
	{{ end }}
	</div>

	{{ if .Preview }}
		<h3>Correct!/Incorrect!</h3>
	{{ else if .Block.Question.AnsweredCorrectly }}
		<h3 class="green">Correct!</h3>
	{{ else }}
		<h3 class="red">Incorrect.</h3>
	{{ end }}

	{{ if not (eq .Block.Question.Explanation.ContentTmpl "") }}
		<h3>Explanation</h3>
		{{ .Block.Question.Explanation.ContentTmpl }}
	{{ end }}
</div>

{{ if .ShowNextButton }}
{{ template "next_button" . }}
{{ end }}

{{ end }}

{{ define "next_button" }}
{{ if eq (Increment .Block.BlockIndex) $.Module.BlockCount }}
	{{ if .Preview }}
	<a href="/teacher"><button id="submit-button">Back</button></a>
	{{ else }}
	<button
		id="submit-button"
		hx-put="/student/course/{{ $.Module.CourseId }}/module/{{ $.Module.Id }}/complete"
	>Done</button>
	{{ end }}
{{ else }}
<button
	id="submit-button"
	hx-get="/student/course/{{ $.Module.CourseId }}/module/{{ $.Module.Id }}/block/{{ Increment .Block.BlockIndex }}/piece"
	hx-target="#submit-button"
	hx-swap="outerHTML"
	hx-select-oob="#header"
>Next</button>
{{ end }}
{{ end }}
