{{ define "title" }}Module: {{ .Module.Title }}{{ end }}
{{ define "style" }}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 80px;
	border-bottom: 1px solid #e0e0e0;
}

.progress-bar {
	width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-gap: 10px;
}

.progress-bar-button-span {
	margin: 0 5px;
	width: 50px;
	height: 5px;
	border-radius: 5px;
	border: none;
}

.green-bg {
	background-color: #34d058;
}

.blue-bg {
	background-color: #0077cc;
}

.gray-bg {
	background-color: #e0e0e0;
}

.progress-bar-button {
	width: fit-content;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.progress-bar-button:hover {
	cursor: pointer;
}

.question {
	margin-top: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	padding: 25px 40px;
}

.choices {
}

.choice {
	margin: 0.5rem 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 0.5rem;
	align-items: center;
}

#submit-button {
    margin-top: 1rem;
    width: 150px;
    height: 50px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 10px;
}

#submit-button:hover {
    background-color: #0055aa;
}

.red {
	color: #ff4d4f;
}

.green {
	color: #34d058;
}

{{ end }}
{{ define "content" }}

<div class="header">
	<div class="progress-bar">
		{{ range $i := NumRange .QuestionCount }}
			<button 
				class="progress-bar-button"
				hx-get="/student/course/{{ $.Module.CourseId }}/module/{{ $.Module.Id }}/question/{{ $i }}"
				hx-target="body"
				hx-swap="innerHTML"
			>
			<div
				{{ if lt $i $.QuestionIndex }}
				class="progress-bar-button-span green-bg"
				{{ else if eq $i $.QuestionIndex }}
				class="progress-bar-button-span blue-bg"
				{{ else }}
				class="progress-bar-button-span gray-bg"
				{{ end }}
			>
			</div>
			</button>
		{{ end }}
	</div>
</div>

{{ template "question_form" . }}

{{ end }}

{{ define "question_form" }}
<form
	id="question-form"
	hx-post="/student/course/{{ .Module.CourseId }}/module/{{ .Module.Id }}/question/{{ .QuestionIndex }}/answer"
	hx-target="#question-form"
	hx-swap="outerHTML"
>
	<div class="question">
		<h2>{{ .Question.QuestionText }}</h2>
		<div class="choices">
		{{ range $choice := .Question.Choices }}
			<div class="choice">
				<input type="radio" id="{{ $choice.Id }}" name="choice" value="{{ $choice.Id }}" required>
				<label for="{{ $choice.Id }}">{{ $choice.ChoiceText }}</label>
			</div>
		{{ end }}
		</div>
		<button id="submit-button" type="submit">Submit</button>
	</div>
</form>
{{ end }}

{{ define "question_submitted" }}
<div class="question">
	<h2>{{ .Question.QuestionText }}</h2>
	<div class="choices">
	{{ range $choice := .Question.Choices }}
		<div class="choice">
			<input type="radio" id="{{ $choice.Id }}" name="choice" value="{{ $choice.Id }}" disabled>
			<label for="{{ $choice.Id }}">
				{{ $choice.ChoiceText }}
				{{ if eq $choice.Id $.ChosenChoiceId }} (Chosen){{ end }}
				{{ if $choice.IsCorrect }} (Correct){{ end }}
			</label>
		</div>
	{{ end }}
	</div>

	{{ if eq .ChosenChoiceId .CorrectChoiceId }}
		<h3 class="green">Correct!</h3>
	{{ else }}
		<h3 class="red">Incorrect.</h3>
	{{ end }}

	<!-- TODO: an explanation of the correct answer -->
	<h3>Explanation</h3>
	<p>...TODO...</p>
</div>
<button
	id="submit-button"
	hx-get="/student/course/{{ $.Module.CourseId }}/module/{{ $.Module.Id }}/question/{{ Increment $.QuestionIndex }}"
	hx-target="body"
	hx-swap="innerHTML"
>Next</button>
{{ end }}
